/* || GENERAL STYLES */

body, .header, .main, .footer {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Roboto", Verdana, sans-serif;
  margin: 0;
  min-height: 100vh;
}

ul {
  /* header link text */
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  /* link */
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}
  display: flex;
  flex-direction: column;
}
