/* -------------------------
   TABLE OF CONTENTS
   1. Reset
   2. Base Styles
   3. Header
   4. Hero Section
   5. Info Section
   6. Quote Section
   7. Call to Action
   8. Footer
  ------------------------- */ 


/* -------------------------
   1. RESET
  ------------------------- */

/* Universal Selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* common universal style */
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

img {
  display: block;
  max-width: 100%;
}

/* -------------------------
   2. BASE STYLES 
  ------------------------- */

body {
  font-family: "Roboto", Verdana, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header, 
.hero, 
footer {
  background-color: #1F2937;
}

button {
  background-color: #3882F6;
  color: #f9faf8;
  height: 35px;
  width: 125px;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
  border: none;
}

/* -------------------------
   3. HEADER 
  ------------------------- */

/* Layout  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  height: 60px;
}

/* Logo */
.logo {
  font-size: 24px;
  color: #F9FAF8;
}

/* Navigation */
nav a {
  font-size: 18px;
  color: #E5E7EB;
  margin-left: 24px;
}

/* -------------------------
   4. HERO SECTION 
  ------------------------- */

main { 
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #F9FAF8;
  padding: 60px;
  height: 400px;
}

.hero__content {
  max-width: 600px;
  height: 240px;
}

.hero__content h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.hero__content p {
  font-size: 18px;
  margin-bottom: 16px;
  color: #E5E7EB;
}

.hero__image {
  width: 50%;
  height: 240px;
}

.hero__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* -------------------------
   5. INFO SECTION 
  ------------------------- */

/* -------------------------
   6. QUOTE SECTION 
  ------------------------- */

/* -------------------------
   7. CALL TO ACTION 
  ------------------------- */

/* -------------------------
   8. FOOTER 
  ------------------------- */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  color: #F9FAF8;
}

/* Temporary Borders */
.border-r { border: dashed 2px red; }
.border-c { border: dashed 2px cyan; }
.border-g { border: dashed 2px green; }
.border-m { border: dashed 2px magenta; }
.border-y { border: dashed 2px yellow; }
.border-b { border: dashed 2px blue; }
