/* || GENERAL STYLES */

body, .header, .main, .footer {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Roboto", Verdana, sans-serif;
  margin: 0;
  min-height: 100vh;
}

ul {
  /* header link text */
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  /* link */
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

button {
  /* sign up button */
  background-color: #3882F6;
  color: #f9faf8;
  height: 35px;
  width: 125px;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
}

/* || UTILITIES */

.flex { display: flex; }

.flex-c { flex-direction: column; }

.space-b { justify-content: space-between; }

.a-center { align-items: center; }

.j-center { justify-content: center; }

.dark-bg { background-color: #1F2937; }

.white-t { color: #F9FAF8; }

.gray-t { color: #E5E7EB; }

.font-b { font-weight: 900; }

.font-s-36 { font-size: 36px; }

/* temporary borders */
.border-r { border: dashed 2px red; }
.border-c { border: dashed 2px cyan; }
.border-g { border: dashed 2px green; }
.border-m { border: dashed 2px magenta; }
.border-y { border: dashed 2px yellow; }
.border-b { border: dashed 2px blue; }
  font-weight: 900;
}

.font-s-36 {
  font-size: 36px;
}
  display: flex;
}

.flex-1 {
  flex: 1; /* makes both take equal space */
}

.flex-c {
  flex-direction: column;
}
