/* || GENERAL STYLES */

body, .header, .main, .footer {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Roboto", Verdana, sans-serif;
  margin: 0;
  min-height: 100vh;
}

ul {
  /* header link text */
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  /* link */
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

button {
  /* sign up button */
  background-color: #3882F6;
  color: #f9faf8;
  height: 35px;
  width: 125px;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
}

/* || UTILITIES */

.flex { display: flex; }

.flex-c { flex-direction: column; }

.space-b { justify-content: space-between; }

.a-center { align-items: center; }

.j-center { justify-content: center; }
  display: flex;
}

.flex-1 {
  flex: 1; /* makes both take equal space */
}

.flex-c {
  flex-direction: column;
}
