/* || GENERAL STYLES */

body, .header, .main, .footer {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Roboto", Verdana, sans-serif;
  margin: 0;
  min-height: 100vh;
}

ul {
  /* header link text */
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  /* link */
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

button {
  /* sign up button */
  background-color: #3882F6;
  color: #f9faf8;
  height: 35px;
  width: 125px;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
}

/* || UTILITIES */

/* temporary borders */
.border-r { border: dashed 2px red; }
.border-c { border: dashed 2px cyan; }
.border-g { border: dashed 2px green; }
.border-m { border: dashed 2px magenta; }
.border-y { border: dashed 2px yellow; }
.border-b { border: dashed 2px blue; }

/* SITEWIDE */

.header {
  /* header */
  padding: 16px 78px;
}

.top {
  /* header navigation */
  font-size: 24px;
}

.bottom {
  /* bottom navigation */
  margin: 64px 0;
}

.left-size {
  flex: 0.4;
}

.right-size {
  flex: 0.6;
}

.main {
  padding: 0 78px;
  align-items: center;
}

.title {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
  text-align: center;
  margin: 32px 0;
}

.footer {
  /* footer */
  padding: 16px 0;
  align-items: center;
  justify-content: center;
}